version: "3.7"

services:
  database_prisma:
    image: postgres:15
    restart: always
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=class
    volumes:
      - pgdata:/data/postgres

volumes:
  pgdata: